# ─── MinIO ───────────────────────────────────────────
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=shop
MINIO_PUBLIC_URL=http://localhost:9000   # یا CDN URL در پروداکشن
